.hr1{
  margin-top:-210px;
  margin-left:560px;
}
.hr2{
  margin-top:-210px;
  margin-left:620px;
}
.hr3{
  margin-top:-87px;
  margin-right:650px;
}
.hr4{
  margin-top:-70px;
  margin-right:650px;
}
.table1{
  margin-left:500px;
}
.cell{
  text-align:center;
  height:50px;
  width: 50px;
}
.buton {
height:50px;
width: 50px;
margin-left:560px;
margin-top:140px;
}